.idea/
*.jpg
*.jpeg
Screenshot_2017-09-13-02-53-37-408_com.tencent.mm_[B@b5303e4.png
LD3320/test.uvgui.43587
LD3320/test.uvopt
LD3320/test.uvproj
LD3320/Listings/
LD3320/Objects/LDChip.obj
LD3320/Objects/main.obj
LD3320/Objects/Reg_RW.obj
LD3320/Objects/test
LD3320/Objects/test.build_log.htm
LD3320/Objects/test.lnp
LD3320/Objects/usart.obj
